<ul>
  <% @cookbook.recipes.each_with_index do |recipe, index| %>
  <li>
    <%= "#{recipe.name} - #{recipe.description}" %>
    <a href="/destroy/<%= index %>">Destroy</a>
  </li> 
  <% end %>
</ul>

<a href='/new'>Create a new recipe</a>