<form action='/' method='post'>
  <label for="recipename">Recipe name:</label><br>
  <input type="text" id="recipename" name="recipename"><br>
  <label for="recipedesc">Recipe description:</label><br>
  <input type="text" id="recipedesc" name="recipedesc"><br>
  <label for="preptime">Prep Time:</label><br>
  <input type="text" id="preptime" name="preptime"><br>
  <label for="difficulty">Difficulty:</label><br>
  <input type="text" id="difficulty" name="difficulty"><br><br>
  <label for="done">Have you used this recipe?(true/false):</label><br>
  <input type="text" id="done" name="done"><br><br>
  <input type="submit" value="Submit">
</form> 

<a href='/'>Return to Home</a>